.imagem-2{
    background-image: url(../../img/img-fundo-1.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vh;
    min-height: 100vh;
}

.container-form{
    background-color: aliceblue;
    padding: 45px 45px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btnCancelar{
    margin-right: 15px !important;
}

.text-decorator-none{
    text-decoration: none;
}