.imagem-2{
    background-image: url(../../img/banner/banner-1blue.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vh;
    min-height: 100vh;
}

.container-form{
    position: relative;
}
.form-cadastro{
    position: relative;
    padding: 55px 45px;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
}
.btnCancelar{
    margin-right: 15px !important;
}

.text-decorator-none{
    text-decoration: none;
}